[class^="col"] {
    /* max-height: 200px; */
    /* border: 1px solid black; */
}

.img-fluid {
    max-height: 100%;
}

body {
    background-color: tan;
}     
.red {
    background-color: beige;
}
img {
    border: 2px solid #868686;
}